@{
    ViewBag.Title = "ConfirmationEmailSent";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="awe-parallax register-page-demo">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register-page__content">
            <div class="content-title">
                <span style="font-size:32px; font-family:Arial; color:#5B3CF7; font-weight: bold;">Mail de confirmation</span>
            </div>


            <form>

                <div class="form-item">

                    <p style="font-size:20px; font-family:Calibri; color:#FB7F49; font-weight: bold; text-align:center">
                        Cette procédure est obligatoire pour la création d’un compte.
                    </p>
                    <p style="font-size:16px; font-family:Calibri; color:#00338C; text-align:justify">
                        Voulez-vous accéder à votre courriel où un mail de confirmation vous a été envoyé et suivre le lien que vous trouverez.
                    </p>
                </div>




            </form>

            <div class="login-register-link">
                Merci !
            </div>

        </div>
    </div>
</section>