@model Tahri_Company.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Mot de passe oublié?";
    Layout = "~/Views/Shared/_Layout -TahriCompany.cshtml";

}

<section class="awe-parallax login-page-demo">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register-page__content">
            <div class="content-title">
                <span class="erreur">Mot de passe oublié ?</span>

            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <form>

                    <div class="form-item">
                        <label>Veuillez saisir votre adresse Email</label>
                        <input id="Email" name="Email" type="text">
                    </div>


                    <div class="form-actions">
                        <input type="submit" value="Envoyer Email">
                    </div>

                </form>
            }
            <div class="login-register-link">
                Merci !
            </div>

        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
