@model Tahri_Company.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="awe-parallax login-page-demo">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register-page__content">
            <div class="content-title">
                <span class="erreur">Réinitialiser votre mot de passe</span>

            </div>
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <form>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)

                    <div class="form-item">
                        <label>Adresse Email</label>
                        <input id="Email" name="Email" type="text">
                    </div>
                    <div class="form-item">
                        <label>Mot de passe</label>
                        <input id="Password" name="Password" type="Password">
                    </div>
                    <div class="form-item">
                        <label>Confirmer le mot de passe</label>
                        <input id="ConfirmPassword" name="ConfirmPassword" type="Password">
                    </div>

                    <div class="form-actions">
                        <input type="submit" value="Confirmer">
                    </div>

                </form>
            }
            <div class="login-register-link">
                Merci !
            </div>

        </div>
    </div>
</section>



