 



 <!--=========== Section Galerie ================-->
<section class="hero-section">
    <div id="slider-revolution">
        <ul>
            <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 1">
                <img src="~/Content/Website/images/bg/1.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-1" data-x="center" data-y="230" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    Commerce International
                </div>

                <div class="tp-caption sfb fadeout slider-caption slider-caption-1" data-x="center" data-y="280" data-speed="700" data-easing="easeOutBack" data-start="2000">Tahri Company</div>

                <a href="#" class="tp-caption sfb fadeout awe-btn awe-btn-style3 awe-btn-slider" data-x="center" data-y="380" data-easing="easeOutBack" data-speed="700" data-start="2200">Savoir Plus</a>
            </li>

            <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 2">
                <img src="~/Content/images/bg/2.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                <div class="tp-caption  sft fadeout slider-caption-sub slider-caption-sub-2" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    Check out the top weekly destination
                </div>

                <div class="tp-caption sft fadeout slider-caption slider-caption-2" data-x="center" data-y="260" data-speed="700" data-easing="easeOutBack" data-start="2000">
                    Travel with us
                </div>

                <a href="#" class="tp-caption sft fadeout awe-btn awe-btn-style3 awe-btn-slider" data-x="center" data-y="370" data-easing="easeOutBack" data-speed="700" data-start="2200">Book now</a>
            </li>

            <li data-slotamount="7" data-masterspeed="500" data-title="Slide title 3">
                <img src="~/Content/images/bg/3.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                <div class="tp-caption lfl fadeout slider-caption slider-caption-3" data-x="center" data-y="260" data-speed="700" data-easing="easeOutBack" data-start="1500">
                    Gofar
                </div>

                <div href="#" class="tp-caption lfr fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="365" data-easing="easeOutBack" data-speed="700" data-start="2000">Take you to every corner of the world</div>
            </li>

        </ul>
    </div>
</section>
    <!--=========== Fin Section Galerie ================-->


    <!--=========== Section Apropos ================-->
    <section id="service" >
        <div class="container">
            <div class="row">
                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft">A Propos</h2>
                    <p class="wow animated bounceInRight">Qui sommes nous ?</p>
                </div>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
            </div>

        </div>
   </section>
    <!--=========== Fin Section Apropos ================-->


    <!--=========== Section Services ================-->
<section id="service">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center">
                <h2 class="wow animated bounceInLeft">Nos Services</h2>
                <p class="wow animated bounceInRight">Ce qui nous distingue</p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-home fa-3x"></i>
                    </div>
                    <h3>Support</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-tasks fa-3x"></i>
                    </div>
                    <h3>Well Documented</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-clock-o fa-3x"></i>
                    </div>
                    <h3>Design UI/UX</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-heart fa-3x"></i>
                    </div>

                    <h3>Web Security</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>

        </div>
    </div>
</section>
    <!--=========== Fin Section Services ================-->

    <!--=========== Section Clients ================-->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class=" col-lg-7 col-md-7 col-sm-6">
                <!-- START BLOG HEADING -->
                <div class="heading">
                    <h2 class="wow fadeInLeftBig">Clients Satisfés</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                </div>
            </div>
            <div class=" col-lg-5 col-md-5 col-sm-6">
                <div class="testimonial_customer">
                    <!-- BEGAIN TESTIMONIAL SLIDER -->
                    <ul class="testimonial_slider">
                        <!-- BEGAIN SINGLE TESTIMONIAL SLIDE#1 -->
                        <li>
                            <div class="media testi_media">
                                <a class="media-left testi_img" href="#">
                                    <img src="img/team-1.jpg" alt="img">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Alin Brown</h4>
                                    <span>CEO</span>
                                </div>
                            </div>
                            <div class="testi_content">
                                <p>Message of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                            </div>
                        </li>
                        <!-- BEGAIN SINGLE TESTIMONIAL SLIDE#2 -->
                        <li>
                            <div class="media testi_media">
                                <a class="media-left testi_img" href="#">
                                    <img src="img/team-1.jpg" alt="img">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Jon Smith</h4>
                                    <span>CEO</span>
                                </div>
                            </div>
                            <div class="testi_content">
                                <p>Message of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                            </div>
                        </li>
                        <!-- BEGAIN SINGLE TESTIMONIAL SLIDE#3 -->
                        <li>
                            <div class="media testi_media">
                                <a class="media-left testi_img" href="#">
                                    <img src="img/team-1.jpg" alt="img">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Jon Doe</h4>
                                    <span>Manager</span>
                                </div>
                            </div>
                            <div class="testi_content">
                                <p>Message of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--=========== Fin Section Clients ================-->