<!DOCTYPE html>
<html>
<head>
    <title>Welcome to TahriCompany.com</title>
</head>
<body>
    <p style="font-size:18px;font-family:Calibri; color:#050a70">
        Bienvenue @ViewBag.Name,
    </p>
    <p style="font-size:16px; font-family:Calibri; color:#01063e; text-align:justify ">
        Merci de votre inscription sur notre site " www.DotIt-Voyage.com ".
        Pour confirmer votre inscription veuillez cliquer sur ce <a href="@ViewBag.Link">Lien</a>.
    </p>
    <center>
        <img src="http://www.france5.fr/emissions/sites/default/files/images/2015/01/03/voyages-organises11.jpg" height="236" width="420" />
    </center>
    <p style="font-size:24px; font-family:Calibri; color:#1394f5; text-align:center">DotIt Voyages</p>
    <p style="font-size:16px; font-family:Calibri; color:#01063e; text-align:justify ">
        C'est votre spécialiste du séjour de grande qualité et du voyage pas cher. Notre site propose à tous de découvrir de nombreuses destinations dans des hôtels spécialement sélectionnés.
        Hotels, autotours, croisières, séjours thalasso, locations, ainsi que des vols secs sont à découvrir dans toutes les régions du monde.
        Que ce soit pour des vacances club ou un séjour pas cher, DotIt Voyages propose des offres de derniere minute et des bons plans promo séjour vers les belles destinations du monde.
    </p>
</body>
</html>