<div class="col-md-12">
    <div class="col-md-4" style="display:none;" id="div2">
        <button type="button" class="btn btn-success" id="btnAddNew">Ajouter produit</button>
    </div>
    
    <div class="col-md-4" style="display:none;" id="div1">
        <button  class="btn btn-primary" id="save">save</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-danger" id="close">Close</button>
    </div>
</div>

    <div class="col-xs-6">
        <div class="form-group">
            <label class="col-md-3 control-label" for="txtNom">Nom </label>
            <div class="col-xs-6">
                <div class="input-icon">
                    <i class="fa fa-star"></i>
                    <input type="text" class="form-control" id="txtNom">
                    <input type="hidden" id="hidID" value="0" />
                    <label id="lblNom" style="display:none;" class="col-md-3 control-label" />
                    <label id="lblmsg" class="help-block text-danger" />

                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="form-group">
            <label class="col-md-3 control-label" for="txtAdresse">Adresse </label>
            <div class="col-xs-6">
                <div class="input-icon">
                    <i class="fa fa-star"></i>
                    <input type="text" class="form-control" id="txtAdresse">
                    <label id="lblAdresse" style="display:none;" class="col-md-3 control-label" />



                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="form-group">
            <label class="col-md-3 control-label" for="txtTel">Tel </label>
            <div class="col-xs-6">
                <div class="input-icon">
                    <i class="fa fa-star"></i>
                    <input type="text" class="form-control" id="txtTel">
                    <label id="lblTel" style="display:none;" class="col-md-3 control-label" />



                </div>
            </div>
        </div>
    </div>


