<a href="#" id="popover">the popover link</a>
<div id="popover-head" class="hide">
    some title
</div>
<div id="popover-content" class="hide">
    <form>
        <input type="number" class="form-control" id="txtQte">

        <button type="submit" class="btn btn-primary" id="closeP">OK</button>

    </form>


</div>

