<!-- Modal  -->
<div class="modal fade" id="modalUpdate" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modifier Depot</h4>
            </div>

            <div class="modal-body">
                <form role="form">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="txtNom1">Nom </label>
                            <div class="col-xs-6">
                                <div class="input-icon">
                                    <i class="fa fa-star"></i>
                                    <input type="text" class="form-control" id="txtNom1">
                                    <input type="hidden" id="hidID1" value="0" />
                                    

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="txtAdresse1">Adresse </label>
                            <div class="col-xs-6">
                                <div class="input-icon">
                                    <i class="fa fa-star"></i>
                                    <input type="text" class="form-control" id="txtAdresse1">
                                    



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="txtTel1">Tel </label>
                            <div class="col-xs-6">
                                <div class="input-icon">
                                    <i class="fa fa-star"></i>
                                    <input type="text" class="form-control" id="txtTel1">
                                   



                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>






            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnUpdate">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




